langchain
langchain-core
langchain-community
langchain-text-splitters

langgraph

langchain-mistralai
mistralai

tavily-python

beautifulsoup4
lxml
requests

python-dotenv

pydantic

tiktoken

faiss-cpu
chromadb

langsmith